@font-face {
    font-family: 'Proxima Nova';
    src: url('../assets/fonts/MarkSimonson-ProximaNovaAltRegular-webfont.eot');
    src: url('../assets/fonts/MarkSimonson-ProximaNovaAltRegular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/MarkSimonson-ProximaNovaAltRegular-webfont.woff') format('woff'),
         url('../assets/fonts/MarkSimonson-ProximaNovaAltRegular-webfont.ttf') format('truetype'),
         url('../assets/fonts/MarkSimonson-ProximaNovaAltRegular-webfont.svg#proxima_nova_altregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
	margin: 0;
	height: 100vh;
	width: 100vw;
	background: url(../assets/background.jpg) center center no-repeat;
	background-size: cover;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-aign-items: center;
	align-items: center;
	font-family: "Roboto", sans-serif;
}
ul {
	margin: 0;
    padding: 0;
    list-style: none;
}
.issues-app {
	width: 650px;
	height: 500px;
	border-radius: 10px;
	overflow: hidden;
	display: -webkit-flex;
	display: flex;
	-webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.5);
	box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.5);
}

.sidebar {
	background-color: rgba(16, 16, 34, 0.9);
	-webkit-flex: 0 0 150px;
	flex: 0 0 150px;
}

.content {
	background-color: #f6f6f6;
	-webkit-flex: 1;
	flex: 1;
	overflow-y: scroll;
}

.controls {
	background-color: #101022;
	height: 40px;
	padding: 0 10px;
	display: -webkit-flex;
	display: flex;
	-webkit-aign-items: center;
	align-items: center;
}
.controls__button {
	width: 10px;
	height: 10px;
	border: 0 none;
	border-radius: 100%;
	margin: 0 5px;
	cursor: pointer;
	padding: 0;
	outline: none;
}
.controls__button_close {
	background-color: #ff594f;
}
.controls__button_minimize {
	background-color: #ffbc1b;
}
.controls__button_full-screen {
	background-color: #00cd46;
}

.filters__item {
	height: 50px;
	padding: 0 10px;
	display: -webkit-flex;
	display: flex;
	-webkit-aign-items: center;
	align-items: center;
	color: #fff;
	-webkit-transition: 0.3s all;
	transition: 0.3s all;
	cursor: pointer;
}
.filters__item_active {
	cursor: default;
}
.filters__item_active,
.filters__item:hover {
	background-color: rgba(41, 42, 72, 0.9);
}
.filters__item-text {
	padding: 0 8px;
	-webkit-flex: 1;
	flex: 1;
	line-height: 1;
}
.filters__item-number {
	font-family: 'Proxima Nova', sans-serif;
	line-height: 1;
    margin-bottom: -1px;
	color: #8a8995;
}

.issues {
	padding: 0 15px;
}
.issues:last-child {
	margin-bottom: 30px;
}
.issues__date {
	font-size: 12px;
	color: #8a8995;
	line-height: 1;
    padding: 10px 0;
}
.issues-list__item {
	display: -webkit-flex;
	display: flex;
	-webkit-aign-items: center;
	align-items: center;
	background-color: #fff;
	height: 40px;
	box-sizing: border-box;
	border: 1px solid #e0e0e0;
	border-radius: 5px;
	margin-bottom: 5px;
	padding: 0 12px;
}
.issues-list__item:last-child {
	margin-bottom: 0;
}
.issues-list__name {
	-webkit-flex: 1;
	flex: 1;
	color: #080606;
	font-size: 15px;
}
.issues-list__input {
	opacity: 0;
	visibility: hidden;
	width: 0;
	height: 0;
	position: absolute;
	margin: 0;
}
.issues-list__star {
	cursor: pointer;
}
.issues-list__star-path {
	fill: #fff;
	fill-rule: evenodd;
	stroke: #e0e0e0; 
	stroke-width: 1;
	-webkit-transition: 0.3s all;
	transition: 0.3s all;
}
.issues-list__input:checked + .issues-list__star .issues-list__star-path {
	fill: #21233d;
	stroke: none;
	stroke-width: 0;
}